

.container-hero {
    background-image: url(/assets/images/diana-light-3-6mITmMyGI-unsplash.jpg);
    width: 100%;
    height: 850px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -30px;
}

.container-item {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -30px;
}

.ceramics {
    font-size: 2em; 
}

.brand {
    font-size: 0.2em;
    padding-left: 10px;
    font-weight: lighter;
}

.about-cube {
    width: 470px;
    height: 150px;
    background-color: #004be1;
    position: absolute;
    bottom: -45px;
    right: 0;
    opacity: 100%;
}

.about-text {
    color: #222222;
    font-size: 1em;
    padding: 20px;  
    text-align: center;
    text-transform: uppercase;
    text-justify: auto;
} 

.cart-link {
    position: absolute;
    right: 40px;
    top: 60px;
    gap: 30px;
    // color: #0042c7;
    color: #302a2d; 
    font-size: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
}

.home-link h1 {
    position: absolute;
    display: flex;
    font-size: 2.3em;
    // color: #0042c7;
    color: #302a2d; 
    left: 40px;
    top: 30px;
    flex-direction: row;

    &:hover {
        text-decoration: none;
    }
}

.logo-brand {
    position: absolute;
    display: flex;
    font-size: 0.7em;
    // color: #0042c7;
    color: #302a2d; 
    left: 162px;
    top: 79px;
    flex-direction: row;

    &:hover {
        text-decoration: none;
    }
}

.container-title {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    font-size: 13em;
    position: absolute;
    padding-top: 50px;
    color: #302a2d;
    // color: #584d53;
    // color: #0042c7;
    opacity: 0;
    transform: translateY(-100%);
    animation: revealAndFadeOut 6s;
    animation-delay: 1s;
  }
  
  @keyframes revealAndFadeOut {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    60% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }

.subtitle-home {
    opacity: 0;
    font-size: 1.2em;
    // color: #0042c7;
    color: #302a2d; 
    font-weight: lighter;
    position: relative;
    top: -150px;
    right: 20px;
    animation: fadeIn 2s forwards;
    animation-delay: 9s;
    align-self: center;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.title-after {
    opacity: 0;
    display: relative;
    margin-top: 240px;
    font-size: 13em;
    // color: #0042c7; 
    color: #302a2d;
    animation: fadeIn 2s forwards;
    animation-delay: 7s;
    align-self: center;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.brand-after {
    font-size: 0.2em;
    padding-left: 10px;
    font-weight: lighter;
}
  
.cards-container {
    margin-left: 28px;
}
  
.container-about {
    height: 600px;
    display: flex;
}

.image-about {
    left: 40px; 
    object-fit: cover;
}

.about-section {
    height: 600px;
    width: 50%;
    background-color: #EFEFED;
    align-self: center;
    justify-items: center;
}

.first-title {
    font-size: 7em;
    color: #302a2d;
    text-align: right; 
    margin-right: 60px;
    top: 50px;
}

.first-title-brand {
    font-size: 1em;
    color: #0042c7;
    top: 50px;
}

.second-title {
    font-size: 2em;
    padding-top: 15px;
    // color: #0042c7;
    text-align: center; 
    margin-right: 60px;
    top: 50px;
    // color: #B6A8A1;
    color: #302a2d;
}
 
.discover-title {
    font-size: 1.2em;
    padding-top: 70px;
    // color: #0042c7;
    color: #302a2d;
    text-align: center;
    margin-right: 60px;
    font-weight: lighter;
    padding-bottom: 70px;
}

.line-discover {
    position: relative;
    height: 1px;
    width: 200px;
    // background-color: #0042c7;
    background-color:#302a2d;
    text-align: center;
    margin: 0 auto;
    right: 25px;
    bottom: 50px;
}

.little-title {
    color: #302a2d;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-right: 50px;
}

.description-homs {
    font-size: 1.2em;
    color: #302a2d;
    text-align: justify;
    margin-right: 60px;
    text-justify: inter-word;
    padding: 10px 100px 50px;
    text-align-last: center;
}
 
.ourstory-button {
    position: absolute;
    padding: 16px 44px;
    border: 3px solid #302a2d;
    background-color: #302a2d;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    align-self: center;
    justify-items: center;
    margin-left: 240px;
}

.newceramics-title {
    font-size: 1.2em;
    padding-top: 100px;
    // color: #0042c7;
    color: #302a2d;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 50px;
}

.newceramics-line {
    position: relative;
    height: 1px;
    width: 250px;
    background-color:#302a2d;
    text-align: center;
    margin: 0 auto;
    bottom: 25px;
}
 
 .more-button-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .more-button {
    padding: 16px 44px;
    border: 3px solid #302a2d;
    background-color: #302a2d;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 60px;
 }

.footer-container {
    height: 300px;
    background-color: #302a2d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-footer {
    display: flex;
    align-items: center;
    gap: 100px;
    color: #fff;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}


.footer-title {
    font-size: 5em;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
}

.footer-title-brand {
    font-size: 0.25em;
    font-weight: lighter;
}

.signature-container {
    height: 40px;
    background-color: #EFEFED;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signature {
    font-size: 0.8em;
    font-weight: lighter;
    color: #302a2d;
    text-align: center;
    display: flex;
}

.logo-social {
    font-size: 2em;
    margin-right: 40px;
    text-align: left;
}
  
  
  
  
