<LinkTo @route="index" class="home-link">
    <h1>HÖMS</h1><span class="logo-brand">®</span>
</LinkTo>
<LinkTo @route="cart" class="cart-link">
    <ion-icon name="home"></ion-icon>
    <ion-icon name="search"></ion-icon>
    <ion-icon name="finger-print"></ion-icon>
    <ion-icon name="bag"></ion-icon>
</LinkTo>
{{!-- need model has we have several items --}}
<main class="container mt-5">
  {{yield}}
</main>