
<LinkTo @route="cart" class="cart-link">
    <ion-icon name="home-outline"></ion-icon> 
    <ion-icon name="search-outline"></ion-icon>
    <ion-icon name="finger-print-outline"></ion-icon>
    <ion-icon name="bookmark-outline"></ion-icon>
    <ion-icon name="bag-outline"></ion-icon>
</LinkTo>
{{!-- need model has we have several items --}}
<main class="container mt-5">
  {{yield}}
</main>