<div class="product-details">
    <section>
        <h3>hüblik</h3>
        {{!-- <div class="stars">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
         </div> --}}
    </section>

    <section>
        <p class="about-card">
                Handcrafted ceramic treasures for exquisite.
        </p>
     </section>

    <section class="container-prices">
        {{!-- <h4><del class="del-price">185€</del></h4> --}}
         <h4 class="price">155€</h4>
    </section>
 </div>