<div class="product-details">
    <section>
        <h3>hüblik</h3>
        <h4 class="new-card">NEW</h4>
    </section>
    <section>
        <p class="about-card">
            Handcrafted ceramic treasures for exquisite.
        </p>
    </section>
    <section class="container-prices">
         <h4 class="price">155€</h4>
    </section>
 </div>