{{page-title "höms"}}

<div class="container-hero">
   <h1 class="title">HÖMS<span class="brand">®</span></h1>
   <div>
       <h5 class="subtitle">Vibrant handmade ceramics for elegant homes.</h5>
   </div>
</div>

{{outlet}}