{{page-title "höms"}}
<div class="container-hero">
   <h1 class="title">HÖMS<span class="brand">®</span></h1>
   <div>
       <h5 class="subtitle">Vibrant ceramics for elegant homes.</h5>
   </div>
   {{!-- <div class="about-cube">
        <h3 class="about-text">All our products are made by hand in our fabric in Italy.</h3>
   </div> --}}
   {{!-- <div>
        <button class="button-about">news</button>
        <button class="button-news">about</button>
   </div> --}}
</div>

{{outlet}}