{{page-title "höms"}}
<div class="container-hero">
   <h1 class="title">höms<span class="brand">®</span></h1>
   <div>
       <h5 class="subtitle">Vibrant ceramics for shining homes.</h5>
   </div>
   {{!-- <div>
        <button class="button-buynow">buy now</button>
   </div> --}}
</div>

{{outlet}}