{{page-title "Index"}}
<div class="container-hero">
    <div class="container">
   <h1 class="title">HÖMS<span class="brand">®</span></h1> 
   <div class="underline"></div>
   </div>
   <div>
       {{!-- <h5 class="subtitle">Vibrant handmade ceramics for elegant homes.</h5> --}}
   </div>
</div>
<GeneralContainer>
  <Product />
  <Product />
  <Product />
  <Product />
</GeneralContainer>
{{outlet}}