{{page-title "Index"}}
<div class="container-hero">
    <div class="container-title">
        <h1 class="title">HÖMS<span class="brand">®</span></h1>
        <div>
            <h1 class="title-after">HÖMS<span class="brand-after">®</span></h1>
        </div>
        <div class="button-display">
            <button class="shop-button">ABOUT</button>
            <button class="discover-button">SHOP</button>
        </div>
   </div>
   <div>
       {{!-- <h5 class="subtitle">Vibrant handmade ceramics for elegant homes.</h5> --}}
   </div>
</div>
<div class="container-about">
    <img class="image-about" style="width: 50%;" src="/assets/images/diana-light-u_jt9A7FADk-unsplash.jpg" alt="">
    <div class="about-section">
        {{!-- <h2 class="first-title">HÖMS</h2><span class="first-title-brand">®</span> --}}
        <h1 class="second-title">Vibrant handmade ceramics <br> for elegant homes.</h1>
        <p>Experience the essence of handmade excellence with our captivating ceramics. 
        Meticulously crafted by skilled artisans, each HÖMS piece embodies timeless beauty. 
        Elevate your space with our exquisite collection, blending artistry and meticulous craftsmanship. 
        Immerse yourself in the world of HÖMS Ceramics and discover the harmonious fusion of art and savoir-faire.</p>
    </div>
</div>
<button class="newproducts">new products</button>
<GeneralContainer>
  <Product />
  <Product />
  <Product />
  <Product />
</GeneralContainer>
{{outlet}}