
<GeneralContainer>
    <div class="space-top"></div>
    <div class="item-details-page">
            <img class="image-item-product" width="100%" src="/assets/images/diana-light-3-6mITmMyGI-unsplash.jpg" alt="">
        {{!-- <Product::Image/> --}}
        {{!-- <Product::Details/> --}}
        <div class="container-info-product">
            <h1 class="title-detail">Hüblik</h1>
            <h4 class="">NEW</h4>
            <p>Experience the ultimate elegance with our set of 4 luxury ceramic cups by Höms. <br><br>
                Meticulously crafted with care and passion, these exquisite cups blend exquisite
                 craftsmanship with modern design. Immerse yourself in the timeless beauty of high-end ceramics.</p>
            <h2>115 €</h2>
            <h1 class="button-add-cart">ADD TO CART</h1>
        </div>
    </div>

    <div class="footer-container">
    <div class="flex-container-footer">
        <div class="container-title-footer">
            <div class="footer-title">HÖMS<span class="footer-title-brand">®</span></div>
            <div>
                <div class="subtitle-footer">Elegant Handmade Ceramics</div>
            </div>
        </div>
        <div class="footer-item">
            <ul>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
            </ul>
        </div>
        <div class="footer-item">
            <ul>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
            </ul>
        </div>
        <div class="footer-item">
            <ul>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
            </ul>
        </div>
        <div class="footer-item">
            <ul class="logo-social">
                <li><ion-icon name="logo-facebook"></ion-icon></li>
                <li><ion-icon name="logo-tiktok"></ion-icon></li>
                <li><ion-icon name="logo-twitter"></ion-icon></li>
                <li><ion-icon name="logo-pinterest"></ion-icon></li>
            </ul>
        </div>
    </div>
</div>
<div class="signature-container">
    <p class="signature">AliceBergonhe / 2023</p>
</div>
</GeneralContainer>

