
<GeneralContainer>
    <div class="">
   <h1 class="title-product">HÖMS<span class="">®</span></h1>

</div>
    <div class="item-details-page">
        <Product::Image/>
        <Product::Details/>
    </div>
</GeneralContainer>

