
<GeneralContainer>
    <div class="space-top"></div>
    <div class="item-details-page">
            <img width="100%" src="/assets/images/diana-light-3-6mITmMyGI-unsplash.jpg" alt="">
        {{!-- <Product::Image/> --}}
        {{!-- <Product::Details/> --}}
        <div class="container-info-product">
            <div>
                <h1>Hüblik</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Adipisci 
                rerum deserunt earum ad excepturi et ab 
                tempora veritatis eveniet nobis.</p>
            </div>
            <div>
                <h2>115 €</h2>
            </div>
        </div>
    </div>
</GeneralContainer>

